@page "/icons"
<h3 class="h3-icons">Icons</h3>

<MudGrid>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AcUnit" Color="Color.Info"></MudIcon>AcUnit</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._10mp" Color="Color.Info"></MudIcon>_10mp</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._11mp" Color="Color.Info"></MudIcon>_11mp</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._123" Color="Color.Info"></MudIcon>_123</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._12mp" Color="Color.Info"></MudIcon>_12mp</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._13mp" Color="Color.Info"></MudIcon>_13mp</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._14mp" Color="Color.Info"></MudIcon>_14mp</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._15mp" Color="Color.Info"></MudIcon>_15mp</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._18UpRating" Color="Color.Info"></MudIcon>_18UpRating</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled._1xMobiledata" Color="Color.Info"></MudIcon>_1xMobiledata</MudItem>
    
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AccessAlarm" Color="Color.Info"></MudIcon>AccessAlarm</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AccessTime" Color="Color.Info"></MudIcon>AccessTime</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Accessibility" Color="Color.Info"></MudIcon>Accessibility</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AccessibilityNew" Color="Color.Info"></MudIcon>AccessibilityNew</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Accessible" Color="Color.Info"></MudIcon>Accessible</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AddAPhoto" Color="Color.Info"></MudIcon>AddAPhoto</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AddAlarm" Color="Color.Info"></MudIcon>AddAlarm</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AddChart" Color="Color.Info"></MudIcon>AddChart</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AddLink" Color="Color.Info"></MudIcon>AddLink</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AddModerator" Color="Color.Info"></MudIcon>AddModerator</MudItem>
    
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Air" Color="Color.Warning"></MudIcon>Air</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Airlines" Color="Color.Primary"></MudIcon>Airlines</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Alarm" Color="Color.Default"></MudIcon>Alarm</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Album" Color="Color.Secondary"></MudIcon>Album</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Animation" Color="Color.Success"></MudIcon>Animation</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Api" Color="Color.Error"></MudIcon>Api</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Android" Color="Color.Dark"></MudIcon>Android</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Approval" Color="Color.Info"></MudIcon>Approval</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.AppsOutage" Color="Color.Info"></MudIcon>AppsOutage</MudItem>
    <MudItem Class="bordered"><MudIcon Icon="@MudBlazor.Icons.Material.Filled.Assistant" Color="Color.Info"></MudIcon>Assistant</MudItem>
</MudGrid>